@font-face {
    font-family: stadart;
    src: url("font/hello honey.otf");
  }

@font-face {
    font-family: SimpleHandmade;
    src: url(font/SimpleHandmade.otf);
}

.flipdown {
    position: relative;
    margin: auto;
}

html {
    font-family: SimpleHandmade;
}

p1 {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 600%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

p2 {
    display: block;
    font-family: stadart;
    text-align: center;
    width: 100%;
    font-size: 1800%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 20%;
}

p3 {
    color: white;
    display: block;
    text-align: left;
    width: 97.5%;
    font-size: 400%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-left: 2.5%;
}

p4 {
    color: white;
    display: block;
    text-align: right;
    width: 97.5%;
    font-size: 400%;
    margin: auto;
    padding-top: 0%;
    padding-bottom: 5%;
    margin-right: 2.5%;
}



#eins{
    background-image: url(images/weizn.jpg);
    background-size:cover;
    margin-bottom: 1%;
    
}

#zwo{
    background-image: url(images/blatt.jpg);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-size:cover;
    margin-top: 1%;
}

body{
    margin: 0;
    background-color: darkslategray;
    
}

.programm {
    display: flex;
    height: auto;
    width: 100%;
}

#left {
    float: left;
    width: 50%;
    text-align: right;
    display: block;
    width: 80%;
    padding: 5% 10%;
}

#right {
    float: right;
    width: 50%;
    text-align: left;
    display: block;
    width: 80%;
    padding: 5% 10%;
}

#left:hover {
    width: calc(100/6);
}

#right:hover {
    background-color: aqua;
}



.kirche::after{content: url();vertical-align:middle;margin-left:2%;display:inline-block;}
.kuchen::after{content: url();vertical-align:middle;margin-left:2%;display:inline-block;}
.mensch::after{content:url();vertical-align:middle;margin-left:2%;display:inline-block;}
.party::after{content: url();vertical-align:middle;margin-right:2%;display:inline-block;}
.geschenk::after{content: url();vertical-align:middle;margin-right:2%;display:inline-block;}
.brief::after{content: url();vertical-align:middle;margin-right:2%;display:inline-block;}