body {
    margin: 0;
}

.countdown {
    background-image: url(../pictures/Nordalb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 7.5%;
    font-size: 100px;
}